<span class="badge bg-secondary">AC @ArmorClass</span>

@code {
    /// <summary>
    /// The armor class value to display.
    /// </summary>
    [Parameter]
    public int ArmorClass { get; set; }
}
