<div class="d-flex align-items-center">
    <strong style="font-size: 1.1rem;">@Initiative</strong>
</div>

@code {
    /// <summary>
    /// The initiative value to display.
    /// </summary>
    [Parameter]
    public int Initiative { get; set; }
}
