@* Keyboard Shortcuts Help Modal *@

<button type="button" class="btn btn-outline-secondary btn-sm" @onclick="ToggleHelp" title="Keyboard Shortcuts (?)">
    <span class="bi bi-keyboard"></span>
</button>

@if (_showHelp)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keyboard Shortcuts</h5>
                    <button type="button" class="btn-close" @onclick="ToggleHelp"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="text-muted mb-3">Combat Tracker</h6>
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td><kbd>N</kbd></td>
                                        <td>Next Turn</td>
                                    </tr>
                                    <tr>
                                        <td><kbd>P</kbd></td>
                                        <td>Previous Turn</td>
                                    </tr>
                                    <tr>
                                        <td><kbd>D</kbd></td>
                                        <td>Apply Damage</td>
                                    </tr>
                                    <tr>
                                        <td><kbd>H</kbd></td>
                                        <td>Apply Healing</td>
                                    </tr>
                                    <tr>
                                        <td><kbd>E</kbd></td>
                                        <td>End Combat</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-muted mb-3">General</h6>
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td><kbd>?</kbd></td>
                                        <td>Show this help</td>
                                    </tr>
                                    <tr>
                                        <td><kbd>Esc</kbd></td>
                                        <td>Close modal/dialog</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="ToggleHelp">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool _showHelp = false;

    private void ToggleHelp()
    {
        _showHelp = !_showHelp;
    }
}
